  .header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 7px;
  }

  .header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
  }

  .header__search {
    display: flex;
    flex: 1;
  
    align-items: center;
    border-radius: 24px;
    /* position: relative; */
  }

  .header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 80%;
    border-radius: 3px;
    
  }

  .header__searchIcon {
    padding: 5px;
    height: 24px !important;
    background-color: #cd9042;
    border-radius: 2px;
  }

  .header__optionLineOne {
    font-size: 13px;
    color:white;
  }
  .header__optionLineOne:hover {
    color: chartreuse;
  }
  .header__optionLineTwo:hover {
    color: chartreuse;
  }

  .header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
    color: white;
  }

  .basket {
    position: relative;
    padding: 10px;
  }

  .count {
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: yellow;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
    font-size: 10px;
  }

  .header__nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 18px;
    gap: 1rem;
  }

  .header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }
  .arrow {
    
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 4px;
    background-color: white;
    height: 23px;
    border-radius: 1px;
  }
  .arrow:hover {
    color: chartreuse;
  }
  .list {
    
    
  
    overflow-x: hidden;
    padding: 10px;
    
    font-size: medium;
    background-color: white;
  }
  .it {
    color: #131921;
  }
  @media (max-width: 690px) {
    .header {
      flex-direction: column;
      align-items: center;
      padding: 10px; /* Increase padding for better spacing */
      z-index: 1000;
      height: auto;
      flex: 1;
    
      
    }

    .header__logo {
      margin: 10px 0;
    }

    .header__search {
      width: 100%;
      margin-top: 10px; 
      justify-content: center; 
    }

    .header__searchInput {
      width: 70%; 
    }

    .header__nav {
      flex-direction: row;
      align-items: center;
      margin-top: 5px;
      gap: 20px;
      
    }

    .header__option {
      margin: 0; 
    }

    

    .list {
      
    }
  }